<p>Cloud.net Admin,</p>

<p>Test VM was succesfully built, but I was not able to remove it from OnAppCP</p>

<p>
  Maybe it was just intermittent problem. Next try in 6 hours. 
  If you receive that error again, please destroy all Test VMs manually.
  Maybe there is an error with your OnappCP installation.
</p>

<p>
  Cloud.net: Build Checker Daemon.
</p>
