<p>Hello,</p>

<p>I was not able to create Test VM in OnappCP</p>

<p>
  Maybe it was just intermittent problem. Next try in 6 hours. 
  If you receive that error again, please verify build process manually.
  Maybe there is an error with your OnappCP installation.
</p>

<p>
  Cloud.net: Build Checker Daemon.
</p>
