<p>Hello OnApp Support,</p>

<p>This is an automated email. The following transaction is triggering an error:</p>

<p>
curl --user <%= ENV['ONAPP_USER'] %> --password *** <%= ENV['ONAPP_URI'] %>/transactions/<%= @transaction_id %>.json
</p>

<p>
Thank you, <br />
The Cloud.net Robot
</p>
