<p>Hello <%= @user.full_name %>!</p>

<p>Welcome to Cloud.net</p>

<p>
  Please follow <a href="<%= @user.confirmation_url %>">this link</a> to confirm your
  account, and log in to the Cloud.net control panel.
</p>

<p>The Cloud.net Team</p>
